<div class="container text-center">
    <div class="d-flex-column">
        <form #loginForm="ngForm" class=" login-form text-center" (ngSubmit)="login()" autocomplete="off">
            <input name="username" [(ngModel)]="model.username" class="form-control me-2" type="text"
                placeholder="Username" style="margin: 5px 5px 5px 5px">
            <input name="password" [(ngModel)]="model.password" class="form-control me-2" type="password"
                placeholder="Password" style="margin: 5px 5px 5px 5px">
            <button class="btn btn-outline-success" type="submit" style="margin: 5px 5px 5px 5px">Login</button>
        </form>
        <a href="/register">Don't have an account? Register</a>
    </div>
</div>
        
